<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/styles/main.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/scripts/main.js" defer></script>

    <title>All Books</title>
</head>
<body>
    <h1>All Books Page</h1>

    <div class="control">
        <a class="button is-info" href="/all-books/new-book">New Book</a>
    </div>

    <div>
        <% for(let i = 0; i < books.length; i++) { %>
            <% const book = books[i]; %>
            <div>
                <section>
                    <img src="<%= book.image %>" alt="Book Image" />
                </section>
                <div>
                    <h3>
                        <a href="/all-books/<%= book.id %>">
                            <%= book.title %>
                        </a>
                    </h3>
                    <h6>
                        <%= book.author %>
                    </h6>
                    <p>
                        $<%= book.price %>
                    </p>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>