<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
        <%- include('./partials/nav.ejs') %>

<!-- RENDER BOOKS FROM DB to HOME -->

                <!-- NEW ARRIVALS -->
                <h2 class="featuredHeader">New Arrivals</h2>
              <div>
                <div class="ourFeatures">                  
                    <% for(let i = 0; i < 4; i++) { %>
                        <div class="card" style="width: 12rem;"> 
                            <% const book = books[i]; %>
                            <img  src="<%= book.image %>" alt="Book Image"  class="card-img-top" alt="...">
                            <div class="card-body">
                            <h4>
                                <a href="/all-books/<%= book.id %>">
                                    <%= book.title %>
                                </a>
                            </h4>
                            <h6>
                                <%= book.author %>
                            </h6>
                            <p>
                                $<%= book.price %>
                            </p>
                        </div>
                    </div>
                 <% } %>
                </div>
            </div> 

            <!-- BEST SELLERS -->
            <h2 class="featuredHeader">Best Sellers</h2>
            <div>
              <div class="ourFeatures">                  
                  <% for(let i = 4; i < 8; i++) { %>
                      <div class="card" style="width: 12rem;"> 
                          <% const book = books[i]; %>
                          <img  src="<%= book.image %>" alt="Book Image"  class="card-img-top" alt="...">
                          <div class="card-body">
                          <h4>
                              <a href="/all-books/<%= book.id %>">
                                  <%= book.title %>
                              </a>
                          </h4>
                          <h6>
                              <%= book.author %>
                          </h6>
                          <p>
                              $<%= book.price %>
                          </p>
                      </div>
                  </div>
               <% } %>
              </div>
          </div> 

          <!-- Staff Picks -->
          <h2 class="featuredHeader">Staff Picks</h2>
          <div>
            <div class="ourFeatures">                  
                <% for(let i = 8; i < 12; i++) { %>
                    <div class="card" style="width: 12rem;"> 
                        <% const book = books[i]; %>
                        <img  src="<%= book.image %>" alt="Book Image"  class="card-img-top" alt="...">
                        <div class="card-body">
                        <h4>
                            <a href="/all-books/<%= book.id %>">
                                <%= book.title %>
                            </a>
                        </h4>
                        <h6>
                            <%= book.author %>
                        </h6>
                        <p>
                            $<%= book.price %>
                        </p>
                    </div>
                </div>
             <% } %>
            </div>
        </div>

              <!-- Footer -->
              <%- include('./partials/footer.ejs') %>

                <!-- Required Bootstrap Scripts -->
        <!-- WILL NEED TO ADD ON END OF EACH VIEW FILE AS PER BS DOC. -->




</body>
</html>

