<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>


<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Login</h1>
    <button><a href='/new-user'>Create Account</a></button>

    <% for(let i = 0; i < user.length; i++) { %>

        <a href='/login/<%= user[i].id %>'>
        <p>@<%= user[i].username %></p>
        </a>

        <% } %>

        <%- include('../partials/footer.ejs') %>
</body>
</html>