
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>



<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Login</h1>

    <div class='usernameGrid'>
    <% for(let i = 0; i < user.length; i++) { %>

        
        <p class='usernameTile'><a href='/login/<%= user[i].id %>'>@<%= user[i].username %></a></p>
        

        <% } %>

    </div>



        <%- include('../partials/footer.ejs') %>

</body>
</html>