<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs')%>


<body>

    <%- include('../partials/nav.ejs') %>

        <div class='userNav'>
            <p><%= user.name %>'s Account</p>
        </div>
        <!-- <button style='margin-top: 20px;'><a href='/logout'>Logout</a></button> -->
        <div class="userShowReview" style='margin-top: 20px;'>
            <a class = "btn btn-primary" href='/logout'>Logout</a></button>
        </div>
        
        <h2 class="userShowReview">My Reviews</h2>
        <div class='userReviews'>
        <% for (let i = 0; i < reviews.length; i++) { %>
        
        <div class="card mb-3" style="max-width: 540px;">
            
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= book[i][i].book.image %>" class="img-fluid rounded-start" alt="Book Cover">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= book[i][i].book.title %></h5>
                  <p class="card-text"><%= reviews[i].content %></p>
                  <p class="card-text"><small class="text-muted"><% for( let idx = 0; idx < 5; idx++ ) { %>
                    
                    <span class="icon">
                        <% if (idx < reviews[i].rating) { %>
                        <i class="fas fa-star"></i>
                        <% } %>
                    </span>

                <% } %></small></p>
                </div>
                
              </div>
            </div>
          </div>
          <% } %>
        </div>
        
        <!-- <h2>My Reviews</h2>
        <section>
            <% for (let i = 0; i < reviews.length; i++) { %>
                <div>
                    <img src='<%= book[i][0].book.image %>'
                    <h4>
                        <%= book[i][0].book.title %>
                        <%= book[i][0].book.author %>
                    </h4>
                    <p>
                        <%= reviews[i].content %>
                    </p>
                    <% for( let idx = 0; idx < 5; idx++ ) { %>
                    
                        <span class="icon">
                            <% if (idx < reviews[i].rating) { %>
                            <i class="fas fa-star"></i>
                            <% } %>
                        </span>

                    <% } %>
                </div>
            <% } %>
        </section> -->


        

        <%- include('../partials/footer.ejs') %>
</body>
</html>